*{
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
body{
margin: 0;
font-family: arial,sans-serif;
background: #b2adad67;
color:black;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}
.container{
width: 400px;
text-align: center;
}
.category button{
width: 100%;
padding: 12px;
font-size: 16px;
margin: 5px 0;
border: none;
border-radius: 10px;
cursor: pointer;
background: #2b7cff;
color: white;
transition: all 0.3s ease;
}
.category button:hover{
    background-color:blue;
transform: scale(1.1);
box-shadow: 0 5px rgba(0,0,0,0.2);
}
.quiz-box{
display: none;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 20px;
font-size:20px ;
padding: 20px;
border-radius: 10px;
width: 400px;
margin: 20px auto;
z-index: 10;
color:black;
text-align: center;
}
#answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}
.option{
border: none;
text-align: left;
padding: 8px 12px;
background-color: #fff;
width: 100%;
cursor: pointer;
margin: 5px 0;
color: #141e30;
font-size: 16px;
outline: none;
border-radius: 8px;
box-sizing: border-box;
font-family: arial,sans-serif;
transition: all 0.2s ease;
}
    .option:hover{
        background-color: #f0f0f0;
        transform: scale(1.05);
        border-color: #555;
    }
.correct{
background: green !important;
color: white;
}
.wrong{
background: red !important;
color: white;
}
#nextBtn{
font-family: arial,sans-serif;
padding: 12px;
border: none;
background: orange;
cursor: pointer;
border-radius: 8px;
font-size: 16px;
 margin-top: 15px;
 width: 100%;
}
#score{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
@media (max-width: 768px){
    .container{
        width: 100%;
        padding: 15px;
    }
    .quiz-box{
        width: 100%;
    }
    .option{
        width: 100%;
        font-size; 15px;
    }
}
